.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.counterbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  display: grid;
  margin: 1rem;
  border: 1px solid black;
  padding: 1rem;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.button {
  font-size: 24px;
  font-weight: bold;

  width: 6rem;
}

.p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.table {
  border-collapse: "collapse";
}
